
## COMPS logs and output
/*.json
*._*
*.DS_Store
*_cache
__pycache__/
*.log
*.stackdump

## Custom reporter plug-ins
reporter_plugins/

## Run scenarios output
scenarios/
output/

## Calibration 
!calibration/

calibration/*
!calibration/simtools.ini
!calibration/ingest_forms/
!calibration/parameter_sets/

## Command line examples for future reference
command_line_examples.txt