
## COMPS logs and output
/*.json
*._*
*.DS_Store
*_cache
__pycache__/
*.log
*.stackdump

## Custom reporter plug-ins
reporter_plugins/

## Run scenarios output
scenarios/
output/

## Old campaign files
InputFiles/Templates/archive

## Calibration 
!calibration/

calibration/*
!calibration/simtools.ini
!calibration/ingest_forms/
!calibration/parameter_sets/
calibration/data/

calibration/parameter_sets/archive

## Command line examples for future reference
command_line_examples.txt

## R project files
*.Rproj*
.Rproj.user
.Rhistory

## Figures
*.pdf